<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308836314331-r6bsgm8ecv90uc67daa6mc9e8uipfb98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308836314331-r6bsgm8ecv90uc67daa6mc9e8uipfb98</string>
	<key>API_KEY</key>
	<string>AIzaSyDjL9tYeNlu4ApI9v9Emu7nb6PnZkyjqaM</string>
	<key>GCM_SENDER_ID</key>
	<string>308836314331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Sport2</string>
	<key>PROJECT_ID</key>
	<string>sport1-50197</string>
	<key>STORAGE_BUCKET</key>
	<string>sport1-50197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308836314331:ios:547e79bc603e06f3baf0fe</string>
</dict>
</plist>